body {
    background-color: black;
    color: aquamarine;
  }
  
  .ascii {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    text-align: center;
    font-size: 0.5vw;
  }
  
  @media screen and (max-width: 768px) {
    .ascii {
      font-size: 1.3vw;
    }
  }
  